<footer class="footer-area footer--light ">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <h4 class="footer-widget-title">Sobre Nosotros</h4>
              <p>Facilitamos la inscripción a las fuerzas armadas de manera eficiente y segura.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Información</h4>
              <ul>

                <li><p>Fechas clave</p></li>
                <li><p>FAQs</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Recursos</h4>
              <ul>

                <li><p>Noticias</p></li>
                <li><p>Contacto</p></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Soporte</h4>
              <ul>
                <li><p>Foro de soporte</p></li>
                <li><p>Términos y condiciones</p></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2024 Fuerzas Armadas. Todos los derechos reservados. Desarrollado por GrupoC-Dev.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
